<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVM-C.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39F4DCBF232CF9F000A4759A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39F4DCD3232CF9F200A4759A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39F4DCDE232CF9F300A4759A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
